Repository oussamac90/nexus-00xayt, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nexus/platform-leads, @nexus/backend-core, @nexus/gateway-team, @nexus/security-team, @nexus/user-management, @nexus/product-team, @nexus/order-team, @nexus/payment-team, @nexus/logistics-team, @nexus/analytics-team, @nexus/notification-team, @nexus/frontend-team, @nexus/devops-team

Add public-samples/nexus-00xayt/.github/pull_request_template.md
  .github/pull_request_template.md
Owners: @nexus/platform-leads

Add public-samples/nexus-00xayt/.github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Owners: @nexus/platform-leads

Add public-samples/nexus-00xayt/.github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
Owners: @nexus/platform-leads

Add public-samples/nexus-00xayt/.github/workflows/build.yml
  .github/workflows/build.yml
Owners: @nexus/devops-team, @nexus/security-team

Add public-samples/nexus-00xayt/.github/workflows/deploy.yml
  .github/workflows/deploy.yml
Owners: @nexus/devops-team, @nexus/security-team

Add public-samples/nexus-00xayt/.github/workflows/pr-checks.yml
  .github/workflows/pr-checks.yml
Owners: @nexus/devops-team, @nexus/security-team

Add public-samples/nexus-00xayt/.github/workflows/release.yml
  .github/workflows/release.yml
Owners: @nexus/devops-team, @nexus/security-team

Add public-samples/nexus-00xayt/.github/workflows/security-scan.yml
  .github/workflows/security-scan.yml
Owners: @nexus/devops-team, @nexus/security-team

Add public-samples/nexus-00xayt/documentation/Input Prompt.md
  documentation/Input Prompt.md
Owners: @nexus/platform-leads

Add public-samples/nexus-00xayt/documentation/Product Requirements Document (PRD).md
  documentation/Product Requirements Document (PRD).md
Owners: @nexus/platform-leads

Add public-samples/nexus-00xayt/documentation/Project Guide.md
  documentation/Project Guide.md
Owners: @nexus/platform-leads

Add public-samples/nexus-00xayt/documentation/Technical Specifications.md
  documentation/Technical Specifications.md
Owners: @nexus/platform-leads

Add public-samples/nexus-00xayt/infrastructure/README.md
  infrastructure/README.md
Owners: @nexus/devops-team, @nexus/security-team

Add public-samples/nexus-00xayt/infrastructure/docker/analytics-service/Dockerfile
  infrastructure/docker/analytics-service/Dockerfile
Owners: @nexus/devops-team

Add public-samples/nexus-00xayt/infrastructure/docker/api-gateway/Dockerfile
  infrastructure/docker/api-gateway/Dockerfile
Owners: @nexus/devops-team

Add public-samples/nexus-00xayt/infrastructure/docker/auth-service/Dockerfile
  infrastructure/docker/auth-service/Dockerfile
Owners: @nexus/devops-team

Add public-samples/nexus-00xayt/infrastructure/docker/notification-service/Dockerfile
  infrastructure/docker/notification-service/Dockerfile
Owners: @nexus/devops-team

Add public-samples/nexus-00xayt/infrastructure/docker/order-service/Dockerfile
  infrastructure/docker/order-service/Dockerfile
Owners: @nexus/devops-team

Add public-samples/nexus-00xayt/infrastructure/docker/payment-service/Dockerfile
  infrastructure/docker/payment-service/Dockerfile
Owners: @nexus/devops-team

Add public-samples/nexus-00xayt/infrastructure/docker/product-service/Dockerfile
  infrastructure/docker/product-service/Dockerfile
Owners: @nexus/devops-team

Add public-samples/nexus-00xayt/infrastructure/docker/shipping-service/Dockerfile
  infrastructure/docker/shipping-service/Dockerfile
Owners: @nexus/devops-team

Add public-samples/nexus-00xayt/infrastructure/docker/user-service/Dockerfile
  infrastructure/docker/user-service/Dockerfile
Owners: @nexus/devops-team

Add public-samples/nexus-00xayt/infrastructure/docker/web/Dockerfile
  infrastructure/docker/web/Dockerfile
Owners: @nexus/devops-team

Add public-samples/nexus-00xayt/infrastructure/docker/web/nginx.conf
  infrastructure/docker/web/nginx.conf
Owners: @nexus/devops-team, @nexus/security-team

Add public-samples/nexus-00xayt/infrastructure/helm/cert-manager/Chart.yaml
  infrastructure/helm/cert-manager/Chart.yaml
Owners: @nexus/devops-team, @nexus/security-team

Add public-samples/nexus-00xayt/infrastructure/helm/cert-manager/values.yaml
  infrastructure/helm/cert-manager/values.yaml
Owners: @nexus/devops-team, @nexus/security-team

Add public-samples/nexus-00xayt/infrastructure/helm/cert-manager/templates/certificate.yaml
  infrastructure/helm/cert-manager/templates/certificate.yaml
Owners: @nexus/devops-team, @nexus/security-team

Add public-samples/nexus-00xayt/infrastructure/helm/cert-manager/templates/clusterissuer.yaml
  infrastructure/helm/cert-manager/templates/clusterissuer.yaml
Owners: @nexus/devops-team, @nexus/security-team

Add public-samples/nexus-00xayt/infrastructure/helm/istio/Chart.yaml
  infrastructure/helm/istio/Chart.yaml
Owners: @nexus/devops-team, @nexus/security-team

Add public-samples/nexus-00xayt/infrastructure/helm/istio/values.yaml
  infrastructure/helm/istio/values.yaml
Owners: @nexus/devops-team, @nexus/security-team

Add public-samples/nexus-00xayt/infrastructure/helm/istio/templates/authorizationpolicy.yaml
  infrastructure/helm/istio/templates/authorizationpolicy.yaml
Owners: @nexus/devops-team, @nexus/security-team

Add public-samples/nexus-00xayt/infrastructure/helm/istio/templates/destinationrule.yaml
  infrastructure/helm/istio/templates/destinationrule.yaml
Owners: @nexus/devops-team, @nexus/security-team

Add public-samples/nexus-00xayt/infrastructure/helm/istio/templates/gateway.yaml
  infrastructure/helm/istio/templates/gateway.yaml
Owners: @nexus/devops-team, @nexus/security-team

Add public-samples/nexus-00xayt/infrastructure/helm/istio/templates/peerauthentication.yaml
  infrastructure/helm/istio/templates/peerauthentication.yaml
Owners: @nexus/devops-team, @nexus/security-team

Add public-samples/nexus-00xayt/infrastructure/helm/istio/templates/serviceentry.yaml
  infrastructure/helm/istio/templates/serviceentry.yaml
Owners: @nexus/devops-team, @nexus/security-team

Add public-samples/nexus-00xayt/infrastructure/helm/istio/templates/virtualservice.yaml
  infrastructure/helm/istio/templates/virtualservice.yaml
Owners: @nexus/devops-team, @nexus/security-team

Add public-samples/nexus-00xayt/infrastructure/helm/monitoring/Chart.yaml
  infrastructure/helm/monitoring/Chart.yaml
Owners: @nexus/devops-team, @nexus/security-team

Add public-samples/nexus-00xayt/infrastructure/helm/monitoring/values.yaml
  infrastructure/helm/monitoring/values.yaml
Owners: @nexus/devops-team, @nexus/security-team

Add public-samples/nexus-00xayt/infrastructure/helm/monitoring/templates/alertmanager.yaml
  infrastructure/helm/monitoring/templates/alertmanager.yaml
Owners: @nexus/devops-team, @nexus/security-team

Add public-samples/nexus-00xayt/infrastructure/helm/monitoring/templates/elk.yaml
  infrastructure/helm/monitoring/templates/elk.yaml
Owners: @nexus/devops-team, @nexus/security-team

.github/CODEOWNERS:

* @nexus/platform-leads

# Backend common utilities and shared components
src/backend/common/** @nexus/backend-core

# API Gateway with security oversight
src/backend/api-gateway/** @nexus/gateway-team @nexus/security-team

# Authentication and authorization service
src/backend/auth-service/** @nexus/security-team @nexus/backend-core

# User management service with security oversight
src/backend/user-service/** @nexus/user-management @nexus/security-team

# Product catalog and management service
src/backend/product-service/** @nexus/product-team

# Order processing service
src/backend/order-service/** @nexus/order-team

# Payment processing service with mandatory security review
src/backend/payment-service/** @nexus/payment-team @nexus/security-team

# Shipping and logistics service
src/backend/shipping-service/** @nexus/logistics-team

# Analytics and reporting service
src/backend/analytics-service/** @nexus/analytics-team

# Notification service
src/backend/notification-service/** @nexus/notification-team

# Frontend web application
src/web/** @nexus/frontend-team

# Infrastructure and deployment configurations
infrastructure/** @nexus/devops-team @nexus/security-team

# CI/CD workflow configurations
.github/workflows/** @nexus/devops-team @nexus/security-team

# Security-related configurations across all services
src/backend/**/security/** @nexus/security-team

# Container configurations
**/Dockerfile @nexus/devops-team

# Maven build configurations
**/pom.xml @nexus/backend-core

# Frontend dependency management
src/web/package.json @nexus/frontend-team
