Repository oussamac90/nexus-00xayt, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nexus/platform-leads, @nexus/backend-core, @nexus/gateway-team, @nexus/security-team, @nexus/user-management, @nexus/product-team, @nexus/order-team, @nexus/payment-team, @nexus/logistics-team, @nexus/analytics-team, @nexus/notification-team, @nexus/frontend-team, @nexus/devops-team

Add public-samples/nexus-00xayt/src/backend/user-service/src/main/java/com/nexus/user/model/User.java
  src/backend/user-service/src/main/java/com/nexus/user/model/User.java
Owners: @nexus/user-management, @nexus/security-team

Add public-samples/nexus-00xayt/src/backend/user-service/src/main/java/com/nexus/user/repository/UserRepository.java
  src/backend/user-service/src/main/java/com/nexus/user/repository/UserRepository.java
Owners: @nexus/user-management, @nexus/security-team

Add public-samples/nexus-00xayt/src/backend/user-service/src/main/java/com/nexus/user/service/UserService.java
  src/backend/user-service/src/main/java/com/nexus/user/service/UserService.java
Owners: @nexus/user-management, @nexus/security-team

Add public-samples/nexus-00xayt/src/backend/user-service/src/main/resources/application.yml
  src/backend/user-service/src/main/resources/application.yml
Owners: @nexus/user-management, @nexus/security-team

Add public-samples/nexus-00xayt/src/backend/user-service/src/test/java/com/nexus/user/UserServiceTests.java
  src/backend/user-service/src/test/java/com/nexus/user/UserServiceTests.java
Owners: @nexus/user-management, @nexus/security-team

Add public-samples/nexus-00xayt/src/web/.browserslistrc
  src/web/.browserslistrc
Owners: @nexus/frontend-team

Add public-samples/nexus-00xayt/src/web/.editorconfig
  src/web/.editorconfig
Owners: @nexus/frontend-team

Add public-samples/nexus-00xayt/src/web/.eslintrc.json
  src/web/.eslintrc.json
Owners: @nexus/frontend-team

Add public-samples/nexus-00xayt/src/web/.gitignore
  src/web/.gitignore
Owners: @nexus/frontend-team

Add public-samples/nexus-00xayt/src/web/.prettierrc
  src/web/.prettierrc
Owners: @nexus/frontend-team

Add public-samples/nexus-00xayt/src/web/README.md
  src/web/README.md
Owners: @nexus/frontend-team

Add public-samples/nexus-00xayt/src/web/angular.json
  src/web/angular.json
Owners: @nexus/frontend-team

Add public-samples/nexus-00xayt/src/web/jest.config.ts
  src/web/jest.config.ts
Owners: @nexus/frontend-team

Add public-samples/nexus-00xayt/src/web/karma.conf.ts
  src/web/karma.conf.ts
Owners: @nexus/frontend-team

Add public-samples/nexus-00xayt/src/web/nx.json
  src/web/nx.json
Owners: @nexus/frontend-team

Add public-samples/nexus-00xayt/src/web/package.json
  src/web/package.json
Owners: @nexus/frontend-team

Add public-samples/nexus-00xayt/src/web/tsconfig.app.json
  src/web/tsconfig.app.json
Owners: @nexus/frontend-team

Add public-samples/nexus-00xayt/src/web/tsconfig.json
  src/web/tsconfig.json
Owners: @nexus/frontend-team

Add public-samples/nexus-00xayt/src/web/tsconfig.spec.json
  src/web/tsconfig.spec.json
Owners: @nexus/frontend-team

Add public-samples/nexus-00xayt/src/web/cypress/tsconfig.json
  src/web/cypress/tsconfig.json
Owners: @nexus/frontend-team

Add public-samples/nexus-00xayt/src/web/cypress/integration/analytics.spec.ts
  src/web/cypress/integration/analytics.spec.ts
Owners: @nexus/frontend-team

Add public-samples/nexus-00xayt/src/web/cypress/integration/marketplace.spec.ts
  src/web/cypress/integration/marketplace.spec.ts
Owners: @nexus/frontend-team

Add public-samples/nexus-00xayt/src/web/cypress/integration/orders.spec.ts
  src/web/cypress/integration/orders.spec.ts
Owners: @nexus/frontend-team

Add public-samples/nexus-00xayt/src/web/cypress/integration/payments.spec.ts
  src/web/cypress/integration/payments.spec.ts
Owners: @nexus/frontend-team

Add public-samples/nexus-00xayt/src/web/cypress/integration/shipping.spec.ts
  src/web/cypress/integration/shipping.spec.ts
Owners: @nexus/frontend-team

Add public-samples/nexus-00xayt/src/web/cypress/plugins/index.ts
  src/web/cypress/plugins/index.ts
Owners: @nexus/frontend-team

Add public-samples/nexus-00xayt/src/web/cypress/support/commands.ts
  src/web/cypress/support/commands.ts
Owners: @nexus/frontend-team

Add public-samples/nexus-00xayt/src/web/cypress/support/index.ts
  src/web/cypress/support/index.ts
Owners: @nexus/frontend-team

Add public-samples/nexus-00xayt/src/web/docker/Dockerfile
  src/web/docker/Dockerfile
Owners: @nexus/devops-team

Add public-samples/nexus-00xayt/src/web/docker/nginx.conf
  src/web/docker/nginx.conf
Owners: @nexus/frontend-team

Add public-samples/nexus-00xayt/src/web/k8s/deployment.yml
  src/web/k8s/deployment.yml
Owners: @nexus/frontend-team

Add public-samples/nexus-00xayt/src/web/k8s/ingress.yml
  src/web/k8s/ingress.yml
Owners: @nexus/frontend-team

Add public-samples/nexus-00xayt/src/web/k8s/service.yml
  src/web/k8s/service.yml
Owners: @nexus/frontend-team

Add public-samples/nexus-00xayt/src/web/src/favicon.ico
  src/web/src/favicon.ico
Owners: @nexus/frontend-team

Add public-samples/nexus-00xayt/src/web/src/index.html
  src/web/src/index.html
Owners: @nexus/frontend-team

Add public-samples/nexus-00xayt/src/web/src/main.ts
  src/web/src/main.ts
Owners: @nexus/frontend-team

Add public-samples/nexus-00xayt/src/web/src/polyfills.ts
  src/web/src/polyfills.ts
Owners: @nexus/frontend-team

Add public-samples/nexus-00xayt/src/web/src/styles.scss
  src/web/src/styles.scss
Owners: @nexus/frontend-team

Add public-samples/nexus-00xayt/src/web/src/test.ts
  src/web/src/test.ts
Owners: @nexus/frontend-team

Add public-samples/nexus-00xayt/src/web/src/app/app-routing.module.ts
  src/web/src/app/app-routing.module.ts
Owners: @nexus/frontend-team

.github/CODEOWNERS:

* @nexus/platform-leads

# Backend common utilities and shared components
src/backend/common/** @nexus/backend-core

# API Gateway with security oversight
src/backend/api-gateway/** @nexus/gateway-team @nexus/security-team

# Authentication and authorization service
src/backend/auth-service/** @nexus/security-team @nexus/backend-core

# User management service with security oversight
src/backend/user-service/** @nexus/user-management @nexus/security-team

# Product catalog and management service
src/backend/product-service/** @nexus/product-team

# Order processing service
src/backend/order-service/** @nexus/order-team

# Payment processing service with mandatory security review
src/backend/payment-service/** @nexus/payment-team @nexus/security-team

# Shipping and logistics service
src/backend/shipping-service/** @nexus/logistics-team

# Analytics and reporting service
src/backend/analytics-service/** @nexus/analytics-team

# Notification service
src/backend/notification-service/** @nexus/notification-team

# Frontend web application
src/web/** @nexus/frontend-team

# Infrastructure and deployment configurations
infrastructure/** @nexus/devops-team @nexus/security-team

# CI/CD workflow configurations
.github/workflows/** @nexus/devops-team @nexus/security-team

# Security-related configurations across all services
src/backend/**/security/** @nexus/security-team

# Container configurations
**/Dockerfile @nexus/devops-team

# Maven build configurations
**/pom.xml @nexus/backend-core

# Frontend dependency management
src/web/package.json @nexus/frontend-team
