Repository oussamac90/nexus-00xayt, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nexus/platform-leads, @nexus/backend-core, @nexus/gateway-team, @nexus/security-team, @nexus/user-management, @nexus/product-team, @nexus/order-team, @nexus/payment-team, @nexus/logistics-team, @nexus/analytics-team, @nexus/notification-team, @nexus/frontend-team, @nexus/devops-team

.github/CODEOWNERS:

* @nexus/platform-leads

# Backend common utilities and shared components
src/backend/common/** @nexus/backend-core

# API Gateway with security oversight
src/backend/api-gateway/** @nexus/gateway-team @nexus/security-team

# Authentication and authorization service
src/backend/auth-service/** @nexus/security-team @nexus/backend-core

# User management service with security oversight
src/backend/user-service/** @nexus/user-management @nexus/security-team

# Product catalog and management service
src/backend/product-service/** @nexus/product-team

# Order processing service
src/backend/order-service/** @nexus/order-team

# Payment processing service with mandatory security review
src/backend/payment-service/** @nexus/payment-team @nexus/security-team

# Shipping and logistics service
src/backend/shipping-service/** @nexus/logistics-team

# Analytics and reporting service
src/backend/analytics-service/** @nexus/analytics-team

# Notification service
src/backend/notification-service/** @nexus/notification-team

# Frontend web application
src/web/** @nexus/frontend-team

# Infrastructure and deployment configurations
infrastructure/** @nexus/devops-team @nexus/security-team

# CI/CD workflow configurations
.github/workflows/** @nexus/devops-team @nexus/security-team

# Security-related configurations across all services
src/backend/**/security/** @nexus/security-team

# Container configurations
**/Dockerfile @nexus/devops-team

# Maven build configurations
**/pom.xml @nexus/backend-core

# Frontend dependency management
src/web/package.json @nexus/frontend-team

Add public-samples/nexus-00xayt/infrastructure/terraform/aws/outputs.tf
  infrastructure/terraform/aws/outputs.tf
Owners: @nexus/devops-team, @nexus/security-team

Add public-samples/nexus-00xayt/infrastructure/terraform/aws/provider.tf
  infrastructure/terraform/aws/provider.tf
Owners: @nexus/devops-team, @nexus/security-team

Add public-samples/nexus-00xayt/infrastructure/terraform/aws/terraform.tfvars.example
  infrastructure/terraform/aws/terraform.tfvars.example
Owners: @nexus/devops-team, @nexus/security-team

Add public-samples/nexus-00xayt/infrastructure/terraform/aws/variables.tf
  infrastructure/terraform/aws/variables.tf
Owners: @nexus/devops-team, @nexus/security-team

Add public-samples/nexus-00xayt/infrastructure/terraform/aws/versions.tf
  infrastructure/terraform/aws/versions.tf
Owners: @nexus/devops-team, @nexus/security-team

Add public-samples/nexus-00xayt/infrastructure/terraform/aws/cloudfront/main.tf
  infrastructure/terraform/aws/cloudfront/main.tf
Owners: @nexus/devops-team, @nexus/security-team

Add public-samples/nexus-00xayt/infrastructure/terraform/aws/cloudfront/variables.tf
  infrastructure/terraform/aws/cloudfront/variables.tf
Owners: @nexus/devops-team, @nexus/security-team

Add public-samples/nexus-00xayt/infrastructure/terraform/aws/eks/main.tf
  infrastructure/terraform/aws/eks/main.tf
Owners: @nexus/devops-team, @nexus/security-team

Add public-samples/nexus-00xayt/infrastructure/terraform/aws/eks/variables.tf
  infrastructure/terraform/aws/eks/variables.tf
Owners: @nexus/devops-team, @nexus/security-team

Add public-samples/nexus-00xayt/infrastructure/terraform/aws/elasticache/main.tf
  infrastructure/terraform/aws/elasticache/main.tf
Owners: @nexus/devops-team, @nexus/security-team

Add public-samples/nexus-00xayt/infrastructure/terraform/aws/elasticache/variables.tf
  infrastructure/terraform/aws/elasticache/variables.tf
Owners: @nexus/devops-team, @nexus/security-team

Add public-samples/nexus-00xayt/infrastructure/terraform/aws/iam/main.tf
  infrastructure/terraform/aws/iam/main.tf
Owners: @nexus/devops-team, @nexus/security-team

Add public-samples/nexus-00xayt/infrastructure/terraform/aws/iam/variables.tf
  infrastructure/terraform/aws/iam/variables.tf
Owners: @nexus/devops-team, @nexus/security-team

Add public-samples/nexus-00xayt/infrastructure/terraform/aws/kms/main.tf
  infrastructure/terraform/aws/kms/main.tf
Owners: @nexus/devops-team, @nexus/security-team

Add public-samples/nexus-00xayt/infrastructure/terraform/aws/kms/variables.tf
  infrastructure/terraform/aws/kms/variables.tf
Owners: @nexus/devops-team, @nexus/security-team

Add public-samples/nexus-00xayt/infrastructure/terraform/aws/rds/main.tf
  infrastructure/terraform/aws/rds/main.tf
Owners: @nexus/devops-team, @nexus/security-team

Add public-samples/nexus-00xayt/infrastructure/terraform/aws/rds/variables.tf
  infrastructure/terraform/aws/rds/variables.tf
Owners: @nexus/devops-team, @nexus/security-team

Add public-samples/nexus-00xayt/infrastructure/terraform/aws/route53/main.tf
  infrastructure/terraform/aws/route53/main.tf
Owners: @nexus/devops-team, @nexus/security-team

Add public-samples/nexus-00xayt/infrastructure/terraform/aws/route53/variables.tf
  infrastructure/terraform/aws/route53/variables.tf
Owners: @nexus/devops-team, @nexus/security-team

Add public-samples/nexus-00xayt/infrastructure/terraform/aws/s3/main.tf
  infrastructure/terraform/aws/s3/main.tf
Owners: @nexus/devops-team, @nexus/security-team

Add public-samples/nexus-00xayt/infrastructure/terraform/aws/s3/variables.tf
  infrastructure/terraform/aws/s3/variables.tf
Owners: @nexus/devops-team, @nexus/security-team

Add public-samples/nexus-00xayt/infrastructure/terraform/aws/vpc/main.tf
  infrastructure/terraform/aws/vpc/main.tf
Owners: @nexus/devops-team, @nexus/security-team

Add public-samples/nexus-00xayt/infrastructure/terraform/aws/vpc/variables.tf
  infrastructure/terraform/aws/vpc/variables.tf
Owners: @nexus/devops-team, @nexus/security-team

Add public-samples/nexus-00xayt/src/backend/.dockerignore
  src/backend/.dockerignore
Owners: @nexus/platform-leads

Add public-samples/nexus-00xayt/src/backend/.env.example
  src/backend/.env.example
Owners: @nexus/platform-leads

Add public-samples/nexus-00xayt/src/backend/README.md
  src/backend/README.md
Owners: @nexus/platform-leads

Add public-samples/nexus-00xayt/src/backend/docker-compose.yml
  src/backend/docker-compose.yml
Owners: @nexus/platform-leads

Add public-samples/nexus-00xayt/src/backend/pom.xml
  src/backend/pom.xml
Owners: @nexus/backend-core

Add public-samples/nexus-00xayt/src/backend/analytics-service/pom.xml
  src/backend/analytics-service/pom.xml
Owners: @nexus/backend-core

Add public-samples/nexus-00xayt/src/backend/analytics-service/src/main/java/com/nexus/analytics/AnalyticsServiceApplication.java
  src/backend/analytics-service/src/main/java/com/nexus/analytics/AnalyticsServiceApplication.java
Owners: @nexus/analytics-team

Add public-samples/nexus-00xayt/src/backend/analytics-service/src/main/java/com/nexus/analytics/controller/AnalyticsController.java
  src/backend/analytics-service/src/main/java/com/nexus/analytics/controller/AnalyticsController.java
Owners: @nexus/analytics-team

Add public-samples/nexus-00xayt/src/backend/analytics-service/src/main/java/com/nexus/analytics/repository/AnalyticsRepository.java
  src/backend/analytics-service/src/main/java/com/nexus/analytics/repository/AnalyticsRepository.java
Owners: @nexus/analytics-team

Add public-samples/nexus-00xayt/src/backend/analytics-service/src/main/java/com/nexus/analytics/service/AnalyticsService.java
  src/backend/analytics-service/src/main/java/com/nexus/analytics/service/AnalyticsService.java
Owners: @nexus/analytics-team

Add public-samples/nexus-00xayt/src/backend/analytics-service/src/main/resources/application.yml
  src/backend/analytics-service/src/main/resources/application.yml
Owners: @nexus/analytics-team

Add public-samples/nexus-00xayt/src/backend/analytics-service/src/test/java/com/nexus/analytics/AnalyticsServiceTests.java
  src/backend/analytics-service/src/test/java/com/nexus/analytics/AnalyticsServiceTests.java
Owners: @nexus/analytics-team

Add public-samples/nexus-00xayt/src/backend/api-gateway/pom.xml
  src/backend/api-gateway/pom.xml
Owners: @nexus/backend-core

Add public-samples/nexus-00xayt/src/backend/api-gateway/src/main/java/com/nexus/gateway/NexusGatewayApplication.java
  src/backend/api-gateway/src/main/java/com/nexus/gateway/NexusGatewayApplication.java
Owners: @nexus/gateway-team, @nexus/security-team

Add public-samples/nexus-00xayt/src/backend/api-gateway/src/main/java/com/nexus/gateway/config/RouteConfig.java
  src/backend/api-gateway/src/main/java/com/nexus/gateway/config/RouteConfig.java
Owners: @nexus/gateway-team, @nexus/security-team

Add public-samples/nexus-00xayt/src/backend/api-gateway/src/main/java/com/nexus/gateway/config/SecurityConfig.java
  src/backend/api-gateway/src/main/java/com/nexus/gateway/config/SecurityConfig.java
Owners: @nexus/gateway-team, @nexus/security-team

Add public-samples/nexus-00xayt/src/backend/api-gateway/src/main/java/com/nexus/gateway/filter/AuthenticationFilter.java
  src/backend/api-gateway/src/main/java/com/nexus/gateway/filter/AuthenticationFilter.java
Owners: @nexus/gateway-team, @nexus/security-team
