Repository oussamac90/nexus-00xayt, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nexus/platform-leads, @nexus/backend-core, @nexus/gateway-team, @nexus/security-team, @nexus/user-management, @nexus/product-team, @nexus/order-team, @nexus/payment-team, @nexus/logistics-team, @nexus/analytics-team, @nexus/notification-team, @nexus/frontend-team, @nexus/devops-team

Add public-samples/nexus-00xayt/src/backend/notification-service/src/test/java/com/nexus/notification/NotificationServiceTests.java
  src/backend/notification-service/src/test/java/com/nexus/notification/NotificationServiceTests.java
Owners: @nexus/notification-team

Add public-samples/nexus-00xayt/src/backend/order-service/pom.xml
  src/backend/order-service/pom.xml
Owners: @nexus/backend-core

Add public-samples/nexus-00xayt/src/backend/order-service/src/main/java/com/nexus/order/OrderServiceApplication.java
  src/backend/order-service/src/main/java/com/nexus/order/OrderServiceApplication.java
Owners: @nexus/order-team

Add public-samples/nexus-00xayt/src/backend/order-service/src/main/java/com/nexus/order/controller/OrderController.java
  src/backend/order-service/src/main/java/com/nexus/order/controller/OrderController.java
Owners: @nexus/order-team

Add public-samples/nexus-00xayt/src/backend/order-service/src/main/java/com/nexus/order/integration/EdifactIntegration.java
  src/backend/order-service/src/main/java/com/nexus/order/integration/EdifactIntegration.java
Owners: @nexus/order-team

Add public-samples/nexus-00xayt/src/backend/order-service/src/main/java/com/nexus/order/model/Order.java
  src/backend/order-service/src/main/java/com/nexus/order/model/Order.java
Owners: @nexus/order-team

Add public-samples/nexus-00xayt/src/backend/order-service/src/main/java/com/nexus/order/repository/OrderRepository.java
  src/backend/order-service/src/main/java/com/nexus/order/repository/OrderRepository.java
Owners: @nexus/order-team

Add public-samples/nexus-00xayt/src/backend/order-service/src/main/java/com/nexus/order/service/OrderService.java
  src/backend/order-service/src/main/java/com/nexus/order/service/OrderService.java
Owners: @nexus/order-team

Add public-samples/nexus-00xayt/src/backend/order-service/src/main/resources/application.yml
  src/backend/order-service/src/main/resources/application.yml
Owners: @nexus/order-team

Add public-samples/nexus-00xayt/src/backend/order-service/src/test/java/com/nexus/order/OrderServiceTests.java
  src/backend/order-service/src/test/java/com/nexus/order/OrderServiceTests.java
Owners: @nexus/order-team

Add public-samples/nexus-00xayt/src/backend/payment-service/pom.xml
  src/backend/payment-service/pom.xml
Owners: @nexus/backend-core

Add public-samples/nexus-00xayt/src/backend/payment-service/src/main/java/com/nexus/payment/PaymentServiceApplication.java
  src/backend/payment-service/src/main/java/com/nexus/payment/PaymentServiceApplication.java
Owners: @nexus/payment-team, @nexus/security-team

Add public-samples/nexus-00xayt/src/backend/payment-service/src/main/java/com/nexus/payment/controller/PaymentController.java
  src/backend/payment-service/src/main/java/com/nexus/payment/controller/PaymentController.java
Owners: @nexus/payment-team, @nexus/security-team

Add public-samples/nexus-00xayt/src/backend/payment-service/src/main/java/com/nexus/payment/integration/StripeIntegration.java
  src/backend/payment-service/src/main/java/com/nexus/payment/integration/StripeIntegration.java
Owners: @nexus/payment-team, @nexus/security-team

Add public-samples/nexus-00xayt/src/backend/payment-service/src/main/java/com/nexus/payment/repository/PaymentRepository.java
  src/backend/payment-service/src/main/java/com/nexus/payment/repository/PaymentRepository.java
Owners: @nexus/payment-team, @nexus/security-team

Add public-samples/nexus-00xayt/src/backend/payment-service/src/main/java/com/nexus/payment/service/PaymentService.java
  src/backend/payment-service/src/main/java/com/nexus/payment/service/PaymentService.java
Owners: @nexus/payment-team, @nexus/security-team

Add public-samples/nexus-00xayt/src/backend/payment-service/src/main/resources/application.yml
  src/backend/payment-service/src/main/resources/application.yml
Owners: @nexus/payment-team, @nexus/security-team

Add public-samples/nexus-00xayt/src/backend/payment-service/src/test/java/com/nexus/payment/PaymentServiceTests.java
  src/backend/payment-service/src/test/java/com/nexus/payment/PaymentServiceTests.java
Owners: @nexus/payment-team, @nexus/security-team

Add public-samples/nexus-00xayt/src/backend/product-service/pom.xml
  src/backend/product-service/pom.xml
Owners: @nexus/backend-core

Add public-samples/nexus-00xayt/src/backend/product-service/src/main/java/com/nexus/product/ProductServiceApplication.java
  src/backend/product-service/src/main/java/com/nexus/product/ProductServiceApplication.java
Owners: @nexus/product-team

Add public-samples/nexus-00xayt/src/backend/product-service/src/main/java/com/nexus/product/controller/ProductController.java
  src/backend/product-service/src/main/java/com/nexus/product/controller/ProductController.java
Owners: @nexus/product-team

Add public-samples/nexus-00xayt/src/backend/product-service/src/main/java/com/nexus/product/integration/EclassIntegration.java
  src/backend/product-service/src/main/java/com/nexus/product/integration/EclassIntegration.java
Owners: @nexus/product-team

Add public-samples/nexus-00xayt/src/backend/product-service/src/main/java/com/nexus/product/integration/GS1Integration.java
  src/backend/product-service/src/main/java/com/nexus/product/integration/GS1Integration.java
Owners: @nexus/product-team

Add public-samples/nexus-00xayt/src/backend/product-service/src/main/java/com/nexus/product/model/Product.java
  src/backend/product-service/src/main/java/com/nexus/product/model/Product.java
Owners: @nexus/product-team

Add public-samples/nexus-00xayt/src/backend/product-service/src/main/java/com/nexus/product/repository/ProductRepository.java
  src/backend/product-service/src/main/java/com/nexus/product/repository/ProductRepository.java
Owners: @nexus/product-team

Add public-samples/nexus-00xayt/src/backend/product-service/src/main/java/com/nexus/product/service/ProductService.java
  src/backend/product-service/src/main/java/com/nexus/product/service/ProductService.java
Owners: @nexus/product-team

Add public-samples/nexus-00xayt/src/backend/product-service/src/main/resources/application.yml
  src/backend/product-service/src/main/resources/application.yml
Owners: @nexus/product-team

Add public-samples/nexus-00xayt/src/backend/product-service/src/test/java/com/nexus/product/ProductServiceTests.java
  src/backend/product-service/src/test/java/com/nexus/product/ProductServiceTests.java
Owners: @nexus/product-team

Add public-samples/nexus-00xayt/src/backend/shipping-service/pom.xml
  src/backend/shipping-service/pom.xml
Owners: @nexus/backend-core

Add public-samples/nexus-00xayt/src/backend/shipping-service/src/main/java/com/nexus/shipping/ShippingServiceApplication.java
  src/backend/shipping-service/src/main/java/com/nexus/shipping/ShippingServiceApplication.java
Owners: @nexus/logistics-team

Add public-samples/nexus-00xayt/src/backend/shipping-service/src/main/java/com/nexus/shipping/controller/ShippingController.java
  src/backend/shipping-service/src/main/java/com/nexus/shipping/controller/ShippingController.java
Owners: @nexus/logistics-team

Add public-samples/nexus-00xayt/src/backend/shipping-service/src/main/java/com/nexus/shipping/model/Shipment.java
  src/backend/shipping-service/src/main/java/com/nexus/shipping/model/Shipment.java
Owners: @nexus/logistics-team

Add public-samples/nexus-00xayt/src/backend/shipping-service/src/main/java/com/nexus/shipping/repository/ShipmentRepository.java
  src/backend/shipping-service/src/main/java/com/nexus/shipping/repository/ShipmentRepository.java
Owners: @nexus/logistics-team

Add public-samples/nexus-00xayt/src/backend/shipping-service/src/main/java/com/nexus/shipping/service/ShippingService.java
  src/backend/shipping-service/src/main/java/com/nexus/shipping/service/ShippingService.java
Owners: @nexus/logistics-team

Add public-samples/nexus-00xayt/src/backend/shipping-service/src/main/resources/application.yml
  src/backend/shipping-service/src/main/resources/application.yml
Owners: @nexus/logistics-team

Add public-samples/nexus-00xayt/src/backend/shipping-service/src/test/java/com/nexus/shipping/ShippingServiceTests.java
  src/backend/shipping-service/src/test/java/com/nexus/shipping/ShippingServiceTests.java
Owners: @nexus/logistics-team

Add public-samples/nexus-00xayt/src/backend/user-service/pom.xml
  src/backend/user-service/pom.xml
Owners: @nexus/backend-core

Add public-samples/nexus-00xayt/src/backend/user-service/src/main/java/com/nexus/user/UserServiceApplication.java
  src/backend/user-service/src/main/java/com/nexus/user/UserServiceApplication.java
Owners: @nexus/user-management, @nexus/security-team

Add public-samples/nexus-00xayt/src/backend/user-service/src/main/java/com/nexus/user/controller/UserController.java
  src/backend/user-service/src/main/java/com/nexus/user/controller/UserController.java
Owners: @nexus/user-management, @nexus/security-team

Add public-samples/nexus-00xayt/src/backend/user-service/src/main/java/com/nexus/user/model/Organization.java
  src/backend/user-service/src/main/java/com/nexus/user/model/Organization.java
Owners: @nexus/user-management, @nexus/security-team

.github/CODEOWNERS:

* @nexus/platform-leads

# Backend common utilities and shared components
src/backend/common/** @nexus/backend-core

# API Gateway with security oversight
src/backend/api-gateway/** @nexus/gateway-team @nexus/security-team

# Authentication and authorization service
src/backend/auth-service/** @nexus/security-team @nexus/backend-core

# User management service with security oversight
src/backend/user-service/** @nexus/user-management @nexus/security-team

# Product catalog and management service
src/backend/product-service/** @nexus/product-team

# Order processing service
src/backend/order-service/** @nexus/order-team

# Payment processing service with mandatory security review
src/backend/payment-service/** @nexus/payment-team @nexus/security-team

# Shipping and logistics service
src/backend/shipping-service/** @nexus/logistics-team

# Analytics and reporting service
src/backend/analytics-service/** @nexus/analytics-team

# Notification service
src/backend/notification-service/** @nexus/notification-team

# Frontend web application
src/web/** @nexus/frontend-team

# Infrastructure and deployment configurations
infrastructure/** @nexus/devops-team @nexus/security-team

# CI/CD workflow configurations
.github/workflows/** @nexus/devops-team @nexus/security-team

# Security-related configurations across all services
src/backend/**/security/** @nexus/security-team

# Container configurations
**/Dockerfile @nexus/devops-team

# Maven build configurations
**/pom.xml @nexus/backend-core

# Frontend dependency management
src/web/package.json @nexus/frontend-team
