Repository oussamac90/nexus-00xayt, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nexus/platform-leads, @nexus/backend-core, @nexus/gateway-team, @nexus/security-team, @nexus/user-management, @nexus/product-team, @nexus/order-team, @nexus/payment-team, @nexus/logistics-team, @nexus/analytics-team, @nexus/notification-team, @nexus/frontend-team, @nexus/devops-team

Add public-samples/nexus-00xayt/src/backend/api-gateway/src/main/java/com/nexus/gateway/filter/RateLimitingFilter.java
  src/backend/api-gateway/src/main/java/com/nexus/gateway/filter/RateLimitingFilter.java
Owners: @nexus/gateway-team, @nexus/security-team

Add public-samples/nexus-00xayt/src/backend/api-gateway/src/main/resources/application.yml
  src/backend/api-gateway/src/main/resources/application.yml
Owners: @nexus/gateway-team, @nexus/security-team

Add public-samples/nexus-00xayt/src/backend/api-gateway/src/test/java/com/nexus/gateway/NexusGatewayApplicationTests.java
  src/backend/api-gateway/src/test/java/com/nexus/gateway/NexusGatewayApplicationTests.java
Owners: @nexus/gateway-team, @nexus/security-team

Add public-samples/nexus-00xayt/src/backend/auth-service/pom.xml
  src/backend/auth-service/pom.xml
Owners: @nexus/backend-core

Add public-samples/nexus-00xayt/src/backend/auth-service/src/main/java/com/nexus/auth/AuthServiceApplication.java
  src/backend/auth-service/src/main/java/com/nexus/auth/AuthServiceApplication.java
Owners: @nexus/security-team, @nexus/backend-core

Add public-samples/nexus-00xayt/src/backend/auth-service/src/main/java/com/nexus/auth/config/OAuth2Config.java
  src/backend/auth-service/src/main/java/com/nexus/auth/config/OAuth2Config.java
Owners: @nexus/security-team, @nexus/backend-core

Add public-samples/nexus-00xayt/src/backend/auth-service/src/main/java/com/nexus/auth/controller/AuthController.java
  src/backend/auth-service/src/main/java/com/nexus/auth/controller/AuthController.java
Owners: @nexus/security-team, @nexus/backend-core

Add public-samples/nexus-00xayt/src/backend/auth-service/src/main/java/com/nexus/auth/security/JwtTokenProvider.java
  src/backend/auth-service/src/main/java/com/nexus/auth/security/JwtTokenProvider.java
Owners: @nexus/security-team

Add public-samples/nexus-00xayt/src/backend/auth-service/src/main/java/com/nexus/auth/service/AuthService.java
  src/backend/auth-service/src/main/java/com/nexus/auth/service/AuthService.java
Owners: @nexus/security-team, @nexus/backend-core

Add public-samples/nexus-00xayt/src/backend/auth-service/src/main/resources/application.yml
  src/backend/auth-service/src/main/resources/application.yml
Owners: @nexus/security-team, @nexus/backend-core

Add public-samples/nexus-00xayt/src/backend/auth-service/src/test/java/com/nexus/auth/AuthServiceTests.java
  src/backend/auth-service/src/test/java/com/nexus/auth/AuthServiceTests.java
Owners: @nexus/security-team, @nexus/backend-core

Add public-samples/nexus-00xayt/src/backend/common/pom.xml
  src/backend/common/pom.xml
Owners: @nexus/backend-core

Add public-samples/nexus-00xayt/src/backend/common/src/main/java/com/nexus/common/config/KafkaConfig.java
  src/backend/common/src/main/java/com/nexus/common/config/KafkaConfig.java
Owners: @nexus/backend-core

Add public-samples/nexus-00xayt/src/backend/common/src/main/java/com/nexus/common/config/RedisConfig.java
  src/backend/common/src/main/java/com/nexus/common/config/RedisConfig.java
Owners: @nexus/backend-core

Add public-samples/nexus-00xayt/src/backend/common/src/main/java/com/nexus/common/exception/GlobalExceptionHandler.java
  src/backend/common/src/main/java/com/nexus/common/exception/GlobalExceptionHandler.java
Owners: @nexus/backend-core

Add public-samples/nexus-00xayt/src/backend/common/src/main/java/com/nexus/common/model/BaseEntity.java
  src/backend/common/src/main/java/com/nexus/common/model/BaseEntity.java
Owners: @nexus/backend-core

Add public-samples/nexus-00xayt/src/backend/common/src/main/java/com/nexus/common/security/SecurityUtils.java
  src/backend/common/src/main/java/com/nexus/common/security/SecurityUtils.java
Owners: @nexus/security-team

Add public-samples/nexus-00xayt/src/backend/common/src/main/java/com/nexus/common/validation/ValidationUtils.java
  src/backend/common/src/main/java/com/nexus/common/validation/ValidationUtils.java
Owners: @nexus/backend-core

Add public-samples/nexus-00xayt/src/backend/k8s/analytics-service-deployment.yml
  src/backend/k8s/analytics-service-deployment.yml
Owners: @nexus/platform-leads

Add public-samples/nexus-00xayt/src/backend/k8s/api-gateway-deployment.yml
  src/backend/k8s/api-gateway-deployment.yml
Owners: @nexus/platform-leads

Add public-samples/nexus-00xayt/src/backend/k8s/auth-service-deployment.yml
  src/backend/k8s/auth-service-deployment.yml
Owners: @nexus/platform-leads

Add public-samples/nexus-00xayt/src/backend/k8s/ingress.yml
  src/backend/k8s/ingress.yml
Owners: @nexus/platform-leads

Add public-samples/nexus-00xayt/src/backend/k8s/notification-service-deployment.yml
  src/backend/k8s/notification-service-deployment.yml
Owners: @nexus/platform-leads

Add public-samples/nexus-00xayt/src/backend/k8s/order-service-deployment.yml
  src/backend/k8s/order-service-deployment.yml
Owners: @nexus/platform-leads

Add public-samples/nexus-00xayt/src/backend/k8s/payment-service-deployment.yml
  src/backend/k8s/payment-service-deployment.yml
Owners: @nexus/platform-leads

Add public-samples/nexus-00xayt/src/backend/k8s/product-service-deployment.yml
  src/backend/k8s/product-service-deployment.yml
Owners: @nexus/platform-leads

Add public-samples/nexus-00xayt/src/backend/k8s/service-mesh.yml
  src/backend/k8s/service-mesh.yml
Owners: @nexus/platform-leads

Add public-samples/nexus-00xayt/src/backend/k8s/shipping-service-deployment.yml
  src/backend/k8s/shipping-service-deployment.yml
Owners: @nexus/platform-leads

Add public-samples/nexus-00xayt/src/backend/k8s/user-service-deployment.yml
  src/backend/k8s/user-service-deployment.yml
Owners: @nexus/platform-leads

Add public-samples/nexus-00xayt/src/backend/monitoring/alerting-rules.yml
  src/backend/monitoring/alerting-rules.yml
Owners: @nexus/platform-leads

Add public-samples/nexus-00xayt/src/backend/monitoring/elk-stack.yml
  src/backend/monitoring/elk-stack.yml
Owners: @nexus/platform-leads

Add public-samples/nexus-00xayt/src/backend/monitoring/grafana-dashboards.json
  src/backend/monitoring/grafana-dashboards.json
Owners: @nexus/platform-leads

Add public-samples/nexus-00xayt/src/backend/monitoring/jaeger-config.yml
  src/backend/monitoring/jaeger-config.yml
Owners: @nexus/platform-leads

Add public-samples/nexus-00xayt/src/backend/monitoring/prometheus.yml
  src/backend/monitoring/prometheus.yml
Owners: @nexus/platform-leads

Add public-samples/nexus-00xayt/src/backend/notification-service/pom.xml
  src/backend/notification-service/pom.xml
Owners: @nexus/backend-core

Add public-samples/nexus-00xayt/src/backend/notification-service/src/main/java/com/nexus/notification/NotificationServiceApplication.java
  src/backend/notification-service/src/main/java/com/nexus/notification/NotificationServiceApplication.java
Owners: @nexus/notification-team

Add public-samples/nexus-00xayt/src/backend/notification-service/src/main/java/com/nexus/notification/controller/NotificationController.java
  src/backend/notification-service/src/main/java/com/nexus/notification/controller/NotificationController.java
Owners: @nexus/notification-team

Add public-samples/nexus-00xayt/src/backend/notification-service/src/main/java/com/nexus/notification/integration/SendGridIntegration.java
  src/backend/notification-service/src/main/java/com/nexus/notification/integration/SendGridIntegration.java
Owners: @nexus/notification-team

Add public-samples/nexus-00xayt/src/backend/notification-service/src/main/java/com/nexus/notification/service/NotificationService.java
  src/backend/notification-service/src/main/java/com/nexus/notification/service/NotificationService.java
Owners: @nexus/notification-team

Add public-samples/nexus-00xayt/src/backend/notification-service/src/main/resources/application.yml
  src/backend/notification-service/src/main/resources/application.yml
Owners: @nexus/notification-team

.github/CODEOWNERS:

* @nexus/platform-leads

# Backend common utilities and shared components
src/backend/common/** @nexus/backend-core

# API Gateway with security oversight
src/backend/api-gateway/** @nexus/gateway-team @nexus/security-team

# Authentication and authorization service
src/backend/auth-service/** @nexus/security-team @nexus/backend-core

# User management service with security oversight
src/backend/user-service/** @nexus/user-management @nexus/security-team

# Product catalog and management service
src/backend/product-service/** @nexus/product-team

# Order processing service
src/backend/order-service/** @nexus/order-team

# Payment processing service with mandatory security review
src/backend/payment-service/** @nexus/payment-team @nexus/security-team

# Shipping and logistics service
src/backend/shipping-service/** @nexus/logistics-team

# Analytics and reporting service
src/backend/analytics-service/** @nexus/analytics-team

# Notification service
src/backend/notification-service/** @nexus/notification-team

# Frontend web application
src/web/** @nexus/frontend-team

# Infrastructure and deployment configurations
infrastructure/** @nexus/devops-team @nexus/security-team

# CI/CD workflow configurations
.github/workflows/** @nexus/devops-team @nexus/security-team

# Security-related configurations across all services
src/backend/**/security/** @nexus/security-team

# Container configurations
**/Dockerfile @nexus/devops-team

# Maven build configurations
**/pom.xml @nexus/backend-core

# Frontend dependency management
src/web/package.json @nexus/frontend-team
